// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$scrum-guide-primary: mat.define-palette(mat.$indigo-palette);
$scrum-guide-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$scrum-guide-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$scrum-guide-theme: mat.define-light-theme(
  (
    color: (
      primary: $scrum-guide-primary,
      accent: $scrum-guide-accent,
      warn: $scrum-guide-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($scrum-guide-theme);

/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: #000;
  font-family: "Noto Sans TC", sans-serif;
}

.btn {
  padding: 0.7rem 2rem;
  border-radius: 32%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  border-radius: 100px;
  &:hover {
    cursor: pointer;
  }
}
.btn--disable {
  color: #6a6969;
  font-weight: 700;
  background: #b0b0b0;
  &:hover {
    cursor: default;
  }
}
.btn--primary {
  color: #3a3a3a;
  background: #ffd1d1;
  font-weight: 700;

  transition: background 200ms;
  &:hover {
    background: #ffc7c7;
  }
}
.btn--yellow {
  color: #3a3a3a;
  background: #fff5e4;
  font-weight: 700;

  transition: background 200ms;
  &:hover {
    background: #e6ddcd;
  }
}

.scene-title {
  padding: 10px 45px 10px 40px;
  background: #fff1f1;
  border-radius: 0px 100px 100px 0px;
  color: #000;
  font-weight: 700;
  font-size: 32px;
  line-height: 125%;
  text-align: center;
  position: absolute;
  top: 32px;
  left: 0;
}

.custom-card {
  @apply shadow-custom bg-white-0.8 rounded-card;
}

.typing-text {
  width: 0;
  white-space: nowrap;
  overflow: hidden;
  animation: type 3s steps(60, end) forwards;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1s ease forwards;
}

@keyframes type {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.cdk-drag-placeholder {
  height: 0;
  width: 0;
  overflow: hidden;
  padding: 0;
}
